@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

h1{
  font-family: 'Fira Sans', sans-serif;
}
h2{
  font-family: 'Fira Sans', sans-serif;
}
p{
  font-family: 'Fira Sans', sans-serif;
}
